.hamburger {
    display: none;
    background-image: url('../../images/navigation/hamburger.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    border: none;
    cursor: pointer;
}

.hamburger_off {
    background-image: url('../../images/navigation/hamburger.svg');
}

.hamburger:hover {
    opacity: 0.;
}

.hamburger_on {
    background-image: url('../../images/navigation/close.svg');
    position: absolute;
    right: 0;
    margin-top: 23px;
    margin-right: 23px;
    padding: 0;
}

@media (max-width: 769px) {
    .hamburger {
        display: flex;
    }
}

@media (max-width: 320px) {
    .hamburger {
        width: 40px;
        height: 43px;
    }

    .hamburger_on {
        margin-top: 13.5px;
        margin-right: 13.5px;
    }
}