.navigation {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.navigation__item:hover {
    opacity: 0.7;
}

.navigation__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
}

.navigation__item_signin {
    margin: 0;
    box-sizing: border-box;
    padding: 8px 20px;
    background: #000000;
    border-radius: 3px;
    height: 32px;
    width: 76px;
    cursor: pointer;
}

.navigation__link_signin {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.navigation_opened {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    justify-content: flex-end;
    transition: all .3s ease;
    z-index: 3;
}

.navigation_closed {
    position: static;
}

.navigaion__list_opened {
    right: 0;
    visibility: visible;
}

.navigaion__list_closed {
    right: -100%;
    visibility: hidden;
}

.navigation__link_active {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    border-bottom: 1px solid #000000;
}