.navigation {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.navigation__list-films {
    justify-content: space-between;
    width: 100%;
}

.navigation__item:hover {
    opacity: 0.7;
}

.navigation__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
}

.navigation__link_active {
    font-weight: 500;
}

.navigation__item_account {
    display: flex;
    align-items: center;
    text-align: center;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    border-radius: 20px;
    box-sizing: border-box;
    font-style: normal;
}

.navigation__link_account {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 8px 20px;
}

.navigation__wrapper-films {
    display: flex;
    gap: 16px;
    padding-left: 44px;
}

.navigation__item_signin {
    margin: 0;
    box-sizing: border-box;
    padding: 8px 20px;
    background: #000000;
    border-radius: 3px;
    height: 32px;
    width: 76px;
    cursor: pointer;
}

.navigation__link_main {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.navigation__link_signin {
    color: #FFFFFF;
}

.navigation__link_signup {
    color: #000;
}

.navigation_opened {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    transition: all .3s ease;
}

.navigaion__list_opened {
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 68%;
}

.navigation_closed {
    display: none;
}

.navigation__list_logged-in {
    padding-top: 159px;
    gap: 28px;
}

@media (max-width: 768px) {
    .navigation__link_active {
        border-bottom: 1px solid #000;
        padding-bottom: 4px;
    }

    .navigation__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .navigation__item_account {
        margin: auto 0 90px;
        padding: 8px 20px;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
    }
}

@media (min-width: 321px) and (max-width: 425px) {
    .navigation__link {
        font-size: 16px;
        line-height: 20px;
    }

    .navigaion__list_opened {
        width: 70%;
    }
}

@media (max-width: 320px) {
    .navigaion__list_opened {
        width: 100%;
    }

    .navigation__list_logged-in {
        padding-top: 144px;
        gap: 24px;
    }

    .navigation__list {
        gap: 24px;
    }

    .navigation__item_account {
        margin-bottom: 46px;
    }

    .navigation__item_signin {
        width: 54px;
        height: 26px;
        padding: 5px 12px;
    }

    .navigation__link_main {
        font-size: 10px;
        line-height: 16px;
    }
}