.infotooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 20;
    visibility: visible;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity 0.2s ease-out;
    width: 100%;
    height: 100%;
}

.infotooltip_opened {
    visibility: visible;
}

.infotooltip__wrapper {
    position: relative;
    max-width: 430px;
    background-color: #fff;
    width: 430px;
    height: 330px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.infotooltip__close-button {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    background-image: url('../../images/navigation/close.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    z-index: 3;
}

.infotooltip__close-button:hover {
    opacity: 0.6;
    transition: .3s;
}

.infotooltip__res-image {
    width: 120px;
    height: 120px;
    margin: 60px auto 32px;
}

.infotooltip__title-res {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0;
    margin: 0 36px;
}