.techs {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #F5F5F5;
}

.teacs_wrapper {
    padding: 110px 70px;
    max-width: 1280px;
    box-sizing: border-box;
}

.techs__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    padding-bottom: 23px;
    margin-bottom: 90px;
}

.techs__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techs__subtitle {
    padding: 0;
    margin: 0;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}

.techs__descr {
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
    max-width: 460px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}

.techs__stack {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.techs__item {
    width: 90px;
    height: 60px;
    background: #E8E8E8;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.techs__stack-item {
    margin: 0;
    padding: 21px 0 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}