.navtab {
    display: grid;
    grid-template-columns: repeat(3, 96px);
    gap: 10px;
    justify-content: center;
    margin: 0;
    margin-top: 151px;
    padding: 0;
    list-style: none;
}

.navtab__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 36px;
    background: #E8E8E8;
    border-radius: 10px;
    margin: 0;
}

.navtab__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.navtab__link:hover {
    opacity: .7;
}

@media (min-width: 321px) and (max-width: 768px) {
    .navtab {
        margin-top: 314px;
    }

}

@media (max-width: 320px) {
    .navtab {
        margin-top: 212px;
        gap: 6px;
        grid-template-columns: repeat(3, 82px);
    }

    .navtab__item {
        width: 82px;
        height: 26px;
        border-radius: 6px;
    }

    .navtab__link {
        font-size: 10px;
        line-height: 16px;
    }
}

@media (min-width: 321px) and (max-width: 400px) {
    .navtab {
        grid-template-columns: repeat(3, 85px);
    }

    .navtab__item {
        width: 85px;
    }
}

@media (min-width: 321px) and (max-width: 740px) {
    .navtab {
        margin-top: 40%;
    }
}